/* general styling */
* {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

html, 
body {
    height: 100%;
  }

header {
    padding: 10px;
}

body {
  background-color: tan;
}

.portada {
    padding-top: 20px;
}

.izquierda {
    float: left;
    margin-left: 10px;
}

.derecha {
    float: right;
    margin-right: 10px;
}

.presentacion, .content {
    margin: 15px;
    margin-left: 20px;
}

.presentacion {
    margin-top: -120px;
}