/* general styling */
* {
    margin: 0rem;
    border: 0rem;
    padding: 0rem;
}

html, 
body {
    height: 100%;
  }

header {
    margin: 0rem;
    align-content: center;
    display: inline;
}

body {
    /*background-color: #568281;*/
    background-color:  #064650
}

p {
    line-height: 1.5rem;
}

.card {
    border-radius: 1rem;
    margin: 2rem 3rem 0rem 3rem;
    padding: 2rem;
    border-color: dimgrey;
    border-style: solid;
    border-width: 0.2rem;
    background-color: #aca7aa;
}

#portada {
    margin-top: 0rem;
    border-radius: 0rem;
    min-height: 15rem;
}

#fotoperfil {
    border-radius: 50%;
    min-height: 8rem;
    min-width: 8rem;
}

#aplogo {
    float: left;
    margin: 0 0 0 3rem;
    padding: 0rem;
}

button {
    margin: 1rem;  
}

/*.content {
    margin: 15px 0 0 20px;
}*/

#presentacion {
    margin: -8rem 0rem 0rem 3rem;
    padding: 2rem;
    color: #f7f7f7;
}

.derecha {
    float: right;
    margin-right: 3rem;
    padding: 0rem;
    vertical-align: auto;
}

footer {
    margin: 1rem;
}

#pie {
    text-align: center;
}