/* general styling */
* {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

html, 
body {
    height: 100%;
  }

header {
    margin: 0px;
}

body {
  background-color: #7e8a4f;
}

p {
    line-height: 1.8;
}

.card {
    border-radius: 30px;
    margin: 15px 0 0 20px;
    padding: 30px;
    border-color: dimgrey;
    border-style: solid;
    border-width: 2px;
}

#portada {
    margin-top: 0px;
    border-radius: 5px;
}

#fotoperfil {
    border-radius: 50%;
}

#aplogo {
    float: left;
    margin: 0 0 0 20px;
    padding: 0px;
}

button {
    margin: 5px;  
}

/*.content {
    margin: 15px 0 0 20px;
}*/

#presentacion {
    margin: -150px 0 0 20px;
    padding: 30px;
}

.derecha {
    float: right;
    margin-right: 10px;
    padding: 0px;
    vertical-align: auto;
}

footer {
    margin: 10px;
}

#pie {
    text-align: center;
}