<header>
  <div class="container-fluid" id="encabezado">
    <nav>
      <div><img src="./assets/images/AP_logo.png" alt="logo Argentina Programa" width="15%" id="aplogo"></div>
      <div></div>
      <div class="redes">
        <span><a href="#"><img src="face.png" alt="logo de facebook" id="fb"></a></span>
        <span><a href="#"><img src="insta.png" alt="logo de instagram" id="ig"></a></span>
        <span><a href="#"><img src="linkedin.png" alt="logo de linkedin" id="in"></a></span>
        <span><button type="button" id="login">Login</button></span>
      </div>
    </nav>
  </div>
</header>
<div>
  <img src="./assets/images/net.jpg" alt="Foto de portada" width="100%" id="portada">
</div>
<div class="row" id="presentacion">
  <div class="col-12">
    <div id="perfil">
      <img src="./assets/images/gonza.jpg" alt="Foto de perfil" width="10%" id="fotoperfil">
      <img src="edit.png" alt="logo de lapicito">
    </div>
    <h2>Gonzalo Caporella</h2>
    <p>Estudiante de programación</p>
    <p>Argentina Programa</p>
  </div> 
</div>
<div class="container-fluid">
  <div class="card">
    <h2>Sobre mi</h2>
    <div class="acercademi">
      <p>acá va toda la descripción...</p>
    </div>
    <span><img src="edit.png" alt="logo de lapicito" class="lapicito"></span>
  </div>
</div>
<div class="container-fluid">
  <div class="card">
    <h2>Experiencia</h2>
    <div class="exptrabajo">
      <div>
        <img src="" alt="logo_exp" class="logos">
      </div>
      <div class="contenido">
        <h3>experiencia n...</h3>
        <p>acá va la descripción...</p>
      </div>
    </div>
    <div>
      <span><img src="edit.png" alt="logo de lapicito" class="lapicito"></span>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="card">
    <h2>Educación</h2>
    <div class="educacion">
      <div>
        <img src="" alt="logo_exp" class="logos">
      </div>
      <div class="contenido">
        <h3>educación n...</h3>
        <p>acá va la descripción...</p>
      </div>
    </div>
    <div>
      <span><img src="edit.png" alt="logo de lapicito" class="lapicito"></span>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="card">
    <h2>Habilidades</h2>
    <div class="habilidad">
      <div>
        <h3>habilidad n...</h3>
        <p>acá va la descripción...</p>
      </div>
    </div>
    <div>
      <span><img src="edit.png" alt="logo de lapicito" class="lapicito"></span>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="card">
    <h2>Proyectos</h2>
    <div class="proyecto">
      <div>
        <h3>Nombre proyecto</h3>
      </div>
      <div>
        <p>fecha inicio - fecha fin</p>
      </div>
      <div>
        <p>descripción del proyecto</p>
      </div>
      <div class="imagenes">
        <img src="" alt="imagen_proyecto">
      </div>
    </div>
    <div>
      <span><img src="edit.png" alt="logo de lapicito" class="lapicito"></span>
    </div>
  </div>
</div>
<footer>
<div id="pie">
  <h4><strong>#YoProgramo</strong></h4>
  <h4><strong>2022</strong></h4>
</div>
</footer>