<div>
  <header>
    <div id="encabezado">
      <nav>
        <div><img src="./assets/images/AP_logo.png" alt="logo Argentina Programa" width="15%" id="aplogo"></div>
        <div class="redes">
          <span><a href="#"><img src="face.png" alt="logo de facebook" id="fb"></a></span>
          <span><a href="#"><img src="insta.png" alt="logo de instagram" id="ig"></a></span>
          <span><a href="#"><img src="linkedin.png" alt="logo de linkedin" id="in"></a></span>
          <span><button type="button" id="login">Login</button></span>
        </div>
      </nav>
    </div>
  </header>
</div>
<div>
  <img src="./assets/images/net.png" alt="Foto de portada" width="100%" id="portada">
</div>
<div id="presentacion">
  <div id="perfil">
    <img src="./assets/images/gonza.jpg" alt="Foto de perfil" width="10%" id="fotoperfil">
    <img src="edit.png" alt="logo de lapicito">
  </div>
  <h2>Gonzalo Caporella</h2>
  <p>Estudiante de programación</p>
  <p>Argentina Programa</p>
  <div class="botones">
    <button type="button">Botón Mis intereses</button>
    <button type="button">Botón Añadir sección</button>
    <button type="button">Botón Más</button>
  </div>
</div>
<Section class="card content">
<div>
  <span><h2>Sobre mi</h2>
  <p>acá va toda la descripción...</p></span>
  <span class="lapicito"><img src="edit.png" alt="logo de lapicito"></span>
</div>
</Section>
<Section class="card content">
<div>
  <h2>Experiencia</h2>
  <p>acá va toda la experiencia...</p>
  <span class="lapicito"><img src="edit.png" alt="logo de lapicito"></span>
</div>
</Section>
<Section class="card content">
<div>
  <h2>Educación</h2>
  <p>acá va todo lo académico...</p>
  <span class="lapicito"><img src="edit.png" alt="logo de lapicito"></span>
</div>
</Section>
<Section class="card content">
<div>
  <h2>Habilidades</h2>
  <p>acá va toda la descripción...</p>
  <span class="lapicito"><img src="edit.png" alt="logo de lapicito"></span>
</div>
</Section>
<Section class="card content">
<div>
  <h2>Proyectos</h2>
  <article>
    <h3><a href="">Proyecto Uno</a></h3>
    <p>descripción del Proyecto Uno</p>
  </article>
  <article>
    <h3><a href="">Proyecto Dos</a></h3>
    <p>descripción del Proyecto Dos</p>
  </article>
  <article>
    <h3><a href="">Proyecto Tres</a></h3>
    <p>descripción del Proyecto tres</p>
  </article>
  <span class="lapicito"><img src="edit.png" alt="logo de lapicito"></span>
</div>
</Section>
<footer>
<div id="pie">
  <h4><strong>#YoProgramo</strong></h4>
</div>
</footer>